/*
  This file is part of geneajs.
  geneajs is free software: you can redistribute it and/or modify
  it under the terms of the GNU Lesser General Public License as published by
  the Free Software Foundation, either version 3 of the License, or
  (at your option) any later version.

  geneajs is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU Lesser General Public License for more details.

  You should have received a copy of the GNU Lesser General Public License
  along with geneajs.  If not, see <http://www.gnu.org/licenses/>.
*/

.data_node {
  position: absolute;
  
  border:1px black solid;
  padding: 5px;

  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;         /* Opera/IE 8+ */

  -webkit-box-shadow: 6px 6px 5px lightgray;
  -moz-box-shadow: 6px 6px 5px lightgray;
  box-shadow: 6px 6px 5px lightgray;
}
.gender_unknown {
  background-color:lightgray;
}
.gender_male {
  background-color:lightblue;
}
.gender_female {
  background-color:lightpink;
}
.line {
  position: absolute;
  background-color:gray;
  height:1px;
  width:1px;
}
body {
  font-family: sans-serif;
  font-size: 0.75em;
}